:root{
    --main-color: rgba(52, 152, 219,1.0);
    --main-color-light: rgba(52, 152, 219,0.2);
    --accent-color: rgba(230, 126, 34,1.0);
    --accent-color-light: rgba(230, 126, 34,0.5);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-image: linear-gradient(to bottom right, 
    var(--main-color), var(--main-color-light));
    background-repeat: no-repeat;
    min-height: 100vh;
}

.main-title{
    font-size: 2rem;
    color: white;
}

.header, .gorev-form{
    min-height: 20vh;
    /*background-color: red;*/
    margin: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-item{
    padding: .5rem;
    font-size: 1.5rem;
    border: none;
    background-color: white;
    outline: none; /* for focus settings */
}

.btn-gorev-ekle{
    color: var(--accent-color);
    cursor: pointer;
}

.btn-gorev-ekle:hover{
    color: white;
    background-color: var(--accent-color);
}

.gorev-container{
    /*background-color: red;*/
    /*
    display: flex;
    justify-content: center;
    align-items: center;
    */
}

.gorev-listesi{
    list-style: none;
    min-width: 40%;
    /*background-color: red;*/
}

.gorev-item{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: .5rem;
    font-size: 1.2rem;
    background-color: white;
    transition: .5s ease-in-out;
}

.gorev-tanim{
    flex: 1;
    padding: 1rem;
}

.gorev-btn{
    background-color: var(--accent-color);
    outline: none;
    border: none;
    font-size: 1.2rem;
    padding: 1.2rem;
}

.gorev-btn-sil{
    background-color: red;
}

.gorev-tamamlandi{
    text-decoration: line-through;
    opacity: 0.5;
}

.fa{   
    /*
    if(tiklanilanEleman.classList.contains('gorev-btn-tamamlandi')
    || tiklanilanEleman.classList.contains('fa')){
        console.log("Tamamlandi");
    }
    */
    pointer-events: none;
    /*
    if(tiklanilanEleman.classList.contains('gorev-btn-tamamlandi'){
        console.log("Tamamlandi");
    }
    */
}

.kaybol{
    transform: scale(0);
}

/*start: drag and drop*/
.trash-container, .uyari{
    display: flex;
    justify-content: center;
    margin: 20px;
}

#div1 {
    width: 9rem;
    padding: 10px;
    /*border: 1px solid #aaaaaa;*/
}
/*end: drag and drop*/

/*start: alert */
.alert { 
    background-color: #2196F3;
    padding: 20px;
    color: white;
    opacity: 1;
    transition: opacity 0.6s;
    margin-bottom: 15px;

    display: flex;
    justify-content: center;
    flex-direction: row;
}
  
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 43px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}
/*end: alert */

.container{
    display: flex;
    justify-content: center;
}